<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Recommendation System</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
    <h1>Crop Recommendation System</h1>
    
    <label for="nitrogen">Nitrogen</label>
    <input type="text" id="nitrogen" name="nitrogen" required>

    <label for="phosphorus">Phosphorus</label>
    <input type="text" id="phosphorus" name="phosphorus" required>

    <label for="potassium">Potassium</label>
    <input type="text" id="potassium" name="potassium" required>

    <label for="temperature">Temperature</label>
    <input type="text" id="temperature" name="temperature" required>

    <label for="humidity">Humidity</label>
    <input type="text" id="humidity" name="humidity" required>

    <label for="ph">pH</label>
    <input type="text" id="ph" name="ph" required>

    <label for="rainfall">Rainfall</label>
    <input type="text" id="rainfall" name="rainfall" required>

    <button type="button" id="predictButton">Predict Crop</button>

    <div class="prediction" id="predictionResult"></div>

    <script src="/static/script.js" defer></script>
</body>
</html>








<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Recommendation System</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
    <h1>Crop Recommendation System</h1>
    
    <label for="nitrogen">Nitrogen</label>
    <input type="text" id="nitrogen" name="nitrogen" required>

    <label for="phosphorus">Phosphorus</label>
    <input type="text" id="phosphorus" name="phosphorus" required>

    <label for="potassium">Potassium</label>
    <input type="text" id="potassium" name="potassium" required>

    <label for="temperature">Temperature</label>
    <input type="text" id="temperature" name="temperature" required>

    <label for="humidity">Humidity</label>
    <input type="text" id="humidity" name="humidity" required>

    <label for="ph">pH</label>
    <input type="text" id="ph" name="ph" required>

    <label for="rainfall">Rainfall</label>
    <input type="text" id="rainfall" name="rainfall" required>

    <button type="button" onclick="predictCrop()">Predict Crop</button>

    <div class="prediction" id="predictionResult"></div>

    <script src="/static/script.js" defer></script>
</body>
</html> -->